h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 40px;
}
h2{
    text-align: center;
}

.input-container{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin: 10px;
    padding: 10px;
    gap: 8px;
    height: 300px;
}

.input-container input,
.input-container select{
    width:180px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}

.input-container button{
    width: 130px;
    padding: 8px;
    border-radius: 15px;
    margin-left: 30px;
    border: none;
    background-color:rgb(0, 0, 0);
    color: white;
}
.expense-history-header{
    display: grid;
    grid-template-columns:100px 100px 100px 100px 100px 80px;
    gap: 10px;
    padding: 10px;
}

.expense-history{
    display: grid;
    grid-template-columns: 100px 100px 100px 100px 100px 80px;
    gap: 10px;
    padding: 10px;
}
.head{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.top-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
   
}

.display button{
    padding: 8px;
    border-radius: 18px;
    width:80px;
    border: none;
    margin: 5px 5px;
}

.delete-button{
    padding: 5px;
    border-radius: 15px;
    border: none;
    background-color: red;
    color: white;
    cursor: pointer;
}